
.maincontainer {
    display: flex;
    justify-content: center;
    margin: 1%;
    align-items: top;
  }
  
  .maincontainer .filtercol {
    width: 10%;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-right:2%;
    margin-top:3.5%;
    height:fit-content;
  }
  
  .filterheading {
    background-color: #ffd12a;
    color: #333;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .maincontainer .filtercol h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  
  .maincontainer .filtercol ul {
    list-style-type: none;
    padding: 0;
  }
  
  .maincontainer .filtercol ul li {
    margin-bottom: 0.5rem;
  }
  
  .maincontainer .filtercol input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  .maincontainer .productcol {
    width: 85%;
  }
  
  .sortrow {
    display: flex;
    justify-content: right;
    margin-bottom: 1rem;
  }
  
  .sortby {
    display: flex;
    align-items: center;
  }
  
  .sortby label {
    margin-right: 0.5rem;
  }
  
  .productlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1%;
    
  }
  
  .product {
    width: 23%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
  }
  
  .product figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product figure img:hover {
    transform: scale(1.05);
  }
  
  .reset-button {
    display: block;
    margin-top: 1rem;
    background-color: #ffd12a;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-button:hover {
    background-color: #e6b800;
  }
  
  @media (max-width: 1024px) {
    .maincontainer {
      flex-direction: column;
      margin: 1rem;
    }
  
    .maincontainer .filtercol {
      width: 90%;
      margin: 1%;

    }
  
    .maincontainer .productcol {
      width: 100%;
    }
  
    .product {
      width: 48%;
    }
  }
  
  @media (max-width: 768px) {
    .product {
      width: 100%;
    }
  }
  @media (max-width: 480px) {
    .product-card {
      max-width: 100%;
    }
  
    .product-image {
      height: fit-content;
      width:50%;
    }
  }