  .product-box {
    width: auto;
    height:fit-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top:-1%;
    margin-right:1%;
    padding-bottom: 1%;
    justify-self: center;
    
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap; 
    gap: 20px;
  }
  
  .products {
    width: 23%; 
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  @media (max-width: 768px) {
    .product-box{
      justify-self: center;
    }
    .products {
      width: 50%; 
      display:flex;
    }
  }
  
  @media (max-width: 480px) {
    .products {
      width: 100%; 
    }
  }
