
.product-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  overflow: auto;
  padding-bottom: 10px;
}


.product-card {
  flex: 0 0 auto;
  margin: 1% 10px; 
}
.gotoallp{
  padding-left:2%;
  margin-bottom:-0.5%;
}